<div class="coming-soon">
  <div class="coming-soon__container rows">
    <!-- <div class="left">

    </div>
    <div class="right">
      <img src="assets/bongo_blob.gif" alt="bongo" />
    </div> -->
    <div class="row">
      <div class="columns is-multiline is-centered">
        <div class="column is-8-desktop is-10-mobile">
          <h1
            class="
              is-size-1-desktop is-size-3-mobile
              title
              has-text-centered-mobile
            "
          >
            Coming Soon..
          </h1>
        </div>
        <div class="k column is-4-desktop is-11-mobile">
          <img src="assets/bongo_blob.gif" alt="bongo" />
        </div>
      </div>
    </div>
    <div class="row has-text-centered-mobile has-text-left-desktop">
      <a href="" class="button is-large-desktop is-medium-mobile is-success">
        Return to Homepage
      </a>
    </div>
  </div>
</div>
