<footer class="my-footer has-background-dark">
  <div class="rows">
    <div class="row pb-6">
      <div class="columns has-text-white">
        <div class="column is-8-desktop">
          <div class="my-cols columns">
            <div class="my-col column is-4-desktop">
              <h1 class="is-size-3">COVID-19</h1>
            </div>
            <div class="column is-7-desktop">
              <div class="columns">
                <div class="my-col s column is-4-desktop">
                  <h3 class="is-size-6">Application</h3>
                  <a href="" class="is-size-6">Home</a>
                  <a href="" class="is-size-6">Information</a>
                  <a href="" class="is-size-6">Coming soon..</a>
                </div>
                <div class="my-col s g column is-4-desktop">
                  <h3 class="is-size-6">Health</h3>
                  <a href="" class="is-size-6">WHO</a>
                  <a href="" class="is-size-6">CDC</a>
                  <a href="" class="is-size-6">Mayo Clinic</a>
                  <a href="" class="is-size-6">Healthline</a>
                  <a href="" class="is-size-6">WebMD</a>
                </div>
                <div class="my-col s g column is-4-desktop">
                  <h3 class="is-size-6">Need Help?</h3>
                  <a href="" class="is-size-6">Report bugs</a>
                  <a href="" class="is-size-6">Github Repo</a>
                  <a href="" class="is-size-6">FAQ</a>
                  <a href="" class="is-size-6">About API</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4-desktop pt-0">
          <div class="rows s">
            <div class="row">
              <h3 class="has-text-right-desktop is-size-6">
                Developed with immense frustration with
              </h3>
              <div class="cont">
                <div>
                  <img src="assets/angular.png" alt="angular" class="angular" />
                </div>
                <div>
                  <img src="assets/bulma.png" alt="bulma" class="bulma" />
                </div>
                <div>
                  <img src="assets/sass.png" alt="sass" class="sass" />
                </div>
                <div>
                  <img src="assets/echarts2.png" alt="eharts" class="echarts" />
                </div>
              </div>
            </div>
            <div class="row">
              <h3 class="has-text-right-desktop is-size-6">App developed in</h3>
              <img src="assets/malaysia.png" alt="malaysia" class="msia" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="f">&copy; 2021-2021 Shaun Ltd. All rights unreserved.</p>
    </div>
  </div>
</footer>
