<section class="section">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-7-desktop is-12-mobile">
        <div class="columns">
          <div class="column is-5">
            <div>
              <img id="covid-illustration" src="assets/covid.png" alt="" />
            </div>
          </div>
          <div class="column is-7">
            <h1 class="is-size-1 title">Coronavirus Alert</h1>
            <p class="subtitle mt-4 para">
              A pandemic that started wreaking havoc to earthlings since the
              year-end of 2019 and continues its massacre till this day.
            </p>
            <div>
              <a
                href="info/#what-can-we-do"
                class="button is-primary is-medium"
              >
                Know what I can do
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-5-desktop is-12-mobile">
        <app-stat-card
          *ngIf="globalConfirmed"
          [heading]="'Total Confirmed'"
          [numberOfCases]="globalConfirmed"
          [newCases]="globalNewConfirmed"
          [delta]="globalNewConfirmedDelta"
          [color]="'#FF9800'"
        ></app-stat-card>
        <app-stat-card
          *ngIf="globalRecovered"
          [heading]="'Total Recovered'"
          [numberOfCases]="globalRecovered"
          [newCases]="globalNewRecovered"
          [delta]="globalNewRecoveredDelta"
          [color]="'#23e200'"
        ></app-stat-card>
        <app-stat-card
          *ngIf="globalDeaths"
          [heading]="'Total Deaths'"
          [numberOfCases]="globalDeaths"
          [newCases]="globalNewDeaths"
          [delta]="globalNewDeathsDelta"
          [color]="'crimson'"
        ></app-stat-card>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="is-size-3 has-text-centered title">Graphical Representation</h1>
    <div class="columns is-centered graphs-container">
      <div class="column is-6-desktop is-12-mobile">
        <div echarts [options]="chartOption" class="demo-chart"></div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div echarts [options]="globalLineChart" class="demo-chart"></div>
      </div>
    </div>
    <p class="has-text-right is-size-6 has-text-grey">
      <fa-icon [icon]="faCheckCircle" [ngStyle]="{ color: 'green' }"></fa-icon>
      <span class="is-italic ml-1">Last updated on {{ globalLastUpdate }}</span>
    </p>
  </div>
</section>

<section class="section stats">
  <div class="container">
    <h1 class="has-text-centered is-size-3 title pb-6">
      Statistical Breakdown Based on Country
    </h1>
    <div class="columns is-vcentered is-centered">
      <div class="column is-5-desktop">
        <div class="country-select has-background-white card">
          <h3 class="is-size-4 title">Select a country</h3>
          <div class="field">
            <div class="control">
              <div class="select is-dark">
                <select
                  [(ngModel)]="selectedCountry"
                  (change)="onCountryChange()"
                >
                  <option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button class="button is-primary">View stats</button>
        </div>
      </div>
      <div class="column is-5-desktop">
        <div echarts [options]="countryDistChart" class="pie-chart"></div>
      </div>
    </div>
    <div class="columns py-1 is-centered">
      <app-stat-card-var
        *ngIf="selectedCountryConfirmed"
        class="column is-3-desktop"
        [heading]="'Confirmed'"
        [numberOfCases]="selectedCountryConfirmed"
        [newCases]="selectedCountryNewConfirmed"
        [color]="'#FF9800'"
      ></app-stat-card-var>
      <app-stat-card-var
        *ngIf="selectedCountryRecovered"
        class="column is-3-desktop"
        [heading]="'Recovered'"
        [numberOfCases]="selectedCountryRecovered"
        [newCases]="selectedCountryNewRecovered"
        [color]="'#23e200'"
      ></app-stat-card-var>
      <app-stat-card-var
        *ngIf="selectedCountryDeaths"
        class="column is-3-desktop"
        [heading]="'Deaths'"
        [numberOfCases]="selectedCountryDeaths"
        [newCases]="selectedCountryNewDeaths"
        [color]="'crimson'"
      ></app-stat-card-var>
    </div>
    <p class="has-text-right is-size-6 has-text-grey">
      <fa-icon [icon]="faCheckCircle" [ngStyle]="{ color: 'green' }"></fa-icon>
      <span class="is-italic ml-1"
        >Last updated on {{ selectedCountryLastUpdate }}</span
      >
    </p>
  </div>
</section>

<section class="section">
  <div class="has-text-centered">
    <div class="para-container mx-auto pb-6">
      <h1 class="is-size-3 title pb-6">Extra Notes</h1>
      <p>
        Ths data is supplied by
        <a href="https://covid19.mathdro.id">Mathdroid COVID-19 API</a>, a
        wrapper API that serves data from John Hopkins University CSSE. Please
        note that all the new cases are the cases reported from yesterday.
      </p>
    </div>
  </div>
</section>
