.demo-chart
  height: 100%
  width: 100%

#covid-illustration
  width: 100%

.para
  text-indent: 1em

.graphs-container
  padding: 50px 0 0

.country-select
  padding: 50px
  border-radius: 10px

.stats
  background: #fafafa

.para-container
  max-width: 500px