<!--- ########### START: HEADER ########### --->

<header class="header navbar">
  <div class="container">
    <div class="header__logo navbar-brand">
      <a class="navbar-item is-uppercase is-size-4 has-text-primary"
        >covid-19</a
      >
      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <nav class="header__navs navbar-menu navbar-end" id="nav-links">
      <a href="#" class="header__navs__link navbar-item">About</a>
      <a href="#" class="header__navs__link navbar-item">Prevention</a>
      <a href="#" class="header__navs__link navbar-item">Country</a>
      <a href="#" class="header__navs__link navbar-item">Vaccine</a>
      <a href="#" class="header__navs__link navbar-item">News</a>
      <a href="#" class="header__navs__link navbar-item">Auxillary</a>
    </nav>
  </div>
</header>

<!--- ########### END: HEADER ########### --->
