<div class="info">
  <div class="info__wrapper content px-5">
    <div class="info__img">
      <img src="assets/corona.jpg" alt="" />
    </div>

    <div class="info__wrapper__section mb-6 mt-5">
      <h1 class="is-size-1-desktop is-size-2-mobile title">
        Understanding COVID-19 in General
      </h1>
      <p class="is-size-5 mb-5">
        This section will cover the common information known regarding the
        COVID-19 and the pandemic.
      </p>
      <p class="is-size-5">The topics are outlined as follows:</p>
      <ul class="is-size-5 mb-5">
        <li>
          <a (click)="onClick('what-is-coronavirus')">What is Coronavirus?</a>
        </li>
        <li>
          <a (click)="onClick('what-can-we-do')"
            >What we can do to prevent and stop the chain?</a
          >
        </li>
        <ul>
          <li>
            <a (click)="onClick('face-mask')">Cover Face with Face mask</a>
          </li>
          <li>
            <a (click)="onClick('social-distancing')">Social Distancing</a>
          </li>
          <li>
            <a (click)="onClick('wash-hands')"
              >Wash Hands Frequently and Effectively</a
            >
          </li>
          <li><a (click)="onClick('stay-at-home')">Staying at Home</a></li>
          <li><a (click)="onClick('vaccine')">Get Vaccinated</a></li>
        </ul>
        <li><a (click)="onClick('symptoms')">Symptoms</a></li>
        <li><a (click)="onClick('reference')">Reference</a></li>
      </ul>
    </div>

    <div class="info__wrapper__section mb-6">
      <h1 class="is-size-3 title" id="what-is-coronavirus">
        What is Coronavirus?
      </h1>
      <p class="is-size-5 mb-5">
        Coronavirus is a family of viruses that are known to inflicts diseases
        such as <strong>common cold</strong> to more serious respiratory illness
        such as the <strong>SARs</strong> and <strong>MERs</strong> that have
        once terrorize humanity back in 2003 and 2013 respectively.
      </p>
      <p class="is-size-5 mb-5">
        Coronavirus nowadays are <em>usually referred</em> to the newly emerged
        novel coronavirus (nCov) that are causing the pandemic since the early
        2019's. The disease caused by the novel coronavirus is known globally as
        <strong>COVID-19</strong>, which is a portmanteau for Coronavirus
        Disease 2019.
      </p>
      <p class="is-size-5 mb-5">
        As of the time of editing this article, which is 21st June of 2021, the
        death toll has reached a whopping
        <strong class="has-text-danger">3.8 million</strong> worldwide. It is
        indeed disheartening to witness the mass massacre happening right here
        and then for almost 2 years.
      </p>
    </div>

    <div class="info__wrapper__section mb-6">
      <h1 class="is-size-3 title" id="what-can-we-do">
        What we can do to prevent and stop the chain?
      </h1>
      <p class="is-size-5 mb-5">
        There are a couple of things we actually can do to avoid being infected
        and stop the chain altogether.
      </p>

      <h2 class="is-size-4 title" id="face-mask">Cover Face with Face mask</h2>
      <p class="is-size-5 mb-5">
        Always wear a face mask when heading out to the public. Coronavirus are
        spread mainly through respiratory droplets produced by infected
        individuals through sneezing, coughing or even breathing. Hence, face
        masks helps protecting yourself and others as it acts as a layer of
        interception that can filter and block harmful particles from being
        inhaled.
      </p>
      <p class="is-size-5 mb-5">
        However, do note that there is still a
        <em>risk of being infected</em> while wearing a mask, but the risk have
        been <strong>significantly reduced</strong> compared to not wearing at
        all. Wearing a face mask can help protect peoples around you in case you
        are infected but is <u>asymptomatic</u> by preventing respiratory
        droplets produced from propagating through the air and infecting others.
      </p>
      <article class="message is-info">
        <div class="message-body">
          Wearing mask in a proper way is crucial to keep yourself and other
          safe.
          <a
            target="_blank"
            href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/about-face-coverings.html"
            >Learn how to wear a proper, effective mask.</a
          >
        </div>
      </article>

      <h2 class="is-size-4 title" id="social-distancing">Social Distancing</h2>
      <p class="is-size-5 mb-5">
        Wearing mask alone is not enough to combat the virus. It must be paired
        with other safety precaution as well to maximize the effectiveness of
        it. Social distancing must be practised all the time especially in the
        indoor settings. Avoid places that are too small or too crowded that
        social distancing is practically impossible.
      </p>

      <h2 class="is-size-4 title" id="wash-hands">
        Wash Hands Frequently and Effectively
      </h2>
      <p class="is-size-5 mb-5">
        Wash hands regularly whenever you can especially out at the public as
        our hands might unknowingly contacted the surface that is
        <strong>contaminated</strong> by the virus such as
        <em>escalator handle</em>, <em>lift buttons</em>, <em>door knobs</em>,
        <em>public seats</em> and <em>tables</em>. Handwashing with soap in a
        proper way will removes any hazardous substance in general that may be
        detrimental to our health.
      </p>

      <h2 class="is-size-4 title" id="stay-at-home">Staying at Home</h2>
      <p class="is-size-5 mb-5">
        Do not go out unless necessary. Staying at home during this trying
        period not only helps protecting yourself and family members, it also
        helps the medical front-liners to ease their work load of treating COVID
        patients by <em>slowing</em> or
        <strong>cut off the transmission chain</strong>.
      </p>
      <p class="is-size-5 mb-5">
        If travelling is necessary and inevitable, one's have to take
        precautionary measures seriously to keep yourself as safe as possible.
        Do adhere to the rules promulgated by the authority and be responsible
        and considerate to others while travelling. Return home once the errand
        is fulfilled.
      </p>

      <h2 class="is-size-4 title" id="vaccination">Get Vaccinated</h2>
      <p class="is-size-5 mb-5">
        Perhaps one of the most <em>compelling way</em> to nip COVID-19 of the
        bud is through the global vaccination movement. By achieving herd
        immunity, the spread of the disease by transmission from human to human
        becomes harder and unlikely. Otherwise, a new COVID-19 breach at a is
        possible and cause <strong>new wave of infections</strong> that will
        pretty much renders the previous effort of containing the virus futile.
      </p>
      <p class="is-size-5 mb-5">
        <strong>Taiwan</strong> is an epitome for the abovementioned situation.
        Taiwan's exemplary containment of the virus since the outbreak had began
        to shamble as the local transmission case began to surge at around May
        10th this year, to a all-time-high of 723 new cases on 22th May. This is
        because the vaccination movement in Taiwan is lackluster before the new
        wave of infection. This clearly shows that even though an area that is
        "COVID-free", it is not perennial as an outbreak may surprise you any
        time soon if the population is not vaccinated.
      </p>
      <p class="is-size-5 mb-5">
        Though vaccination may not guarantee 100% immunity towards COVID-19, it
        drastically
        <strong>reduces the development of severe symptoms</strong> that might
        cause lifetime damage or even death. You may feel like only it was just
        catching a cold if you had contracted with the disease.
      </p>
    </div>

    <div class="info__wrapper__section mb-6">
      <h1 class="is-size-3 title" id="symptoms">Symptoms</h1>
      <p class="is-size-5 mb-5">
        The common symptoms of COVID-19 includes
        <u
          >cough, fever, shortness of breath and in extreme cases, pneumonia,
          chest pain, loss of speech or movement and
          <strong>breathing difficulties</strong> may occur</u
        >.
      </p>
      <article class="message is-danger">
        <div class="message-body">
          If you are experiencing any of the severe symptoms mentioned above,
          seek for medical treatment <strong>IMMEDIATELY</strong>
          at hospitals in the vicinity!
        </div>
      </article>

      <p class="is-size-5 mb-5">
        Less common symptoms but also require close attention includes
      </p>

      <ul class="is-size-5 mb-5">
        <li>Body aches and pains</li>
        <li>Sore throat</li>
        <li>Diarrhoea</li>
        <li>Conjunctivitis</li>
        <li>Headache</li>
        <li>Loss of taste or smell</li>
        <li>Skin rash</li>
        <li>Discoloration of finger and toes</li>
      </ul>

      <p class="is-size-5 mb-5">
        If you are sneezing and you suspect that you have COVID-19, please calm
        down. According to an article at Covid Symptom Study, sneezing is not
        normally a sign of COVID-19. It might just be seasonal allergies that is
        affecting you. No matter what, it's the best to cover our face and avoid
        sneezing openly to the air.
      </p>

      <article class="message is-warning">
        <div class="message-body">
          However, sneezing may indicate that you have contracted COVID-19 if
          you have been vaccinated according to study done by ZOE COVID
          research.
        </div>
      </article>
    </div>
    <div class="info__wrapper__reference">
      <h2 class="is-size-2 has-text-centered" id="reference">Reference</h2>

      <div
        class="info__wrapper__reference__item py-4"
        *ngFor="let reference of references"
      >
        <a [href]="reference.link" target="_blank" class="is-size-5"
          ><span class="the-title">{{ reference.title }}</span> <br />
          <span class="subtitle link">{{ reference.link }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
